
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);


body {
	background: linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
}
.weather-container{
	width:80vh;
	height: 50vh;
	margin :20px auto;
	display:flex;
	flex-direction: row;


}
.currentTemp{
	width:500px;
background: rgb(41, 41, 41);
}
.foo{
	height:81%;
}

.bla{
	width:100%;
	height:50%;
}
.info{
	height:19%;
	width:100%;
	position: relative;
	background: rgb(42, 178, 234);
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-align: center;

}
.rain {
	width: 30%;
	position: absolute;
	left: 10px;
	/* word-spacing: 60px; */
	top: 30%;
}
.rain::before{
	/* display: block; */

	font-family: weathericons;
	font-size: 40px;
	/* left: 6px; */
	top: -4px;
	position: absolute;
}
.wind {
	width: 30%;
	position: absolute;
	right: 10px;
	word-spacing: 60px;
	top: 3px;
}
.wind::before{
	display: block;
	content: '\f050';
	font-family: weathericons;
	font-size: 25px;
	left: -10px;
	position: absolute;
	top: 5px;
}
.temp{
	font-size: 60px;
text-align: center;
display: block;
font-weight: 300;
color: rgb(255, 255, 255);
padding: 20px 0 0;
}
.location{
color: rgb(255, 255, 255);
text-align: center;
text-transform: uppercase;
font-weight: 700;
font-size: 20px;
display: block;
}
.form {
		margin:3%;
		text-align: center;
}
.btn{
  margin :5px;
}
 .error{
	text-align: center;
	 margin: 10vh;
	color : red;
}


/*
*		loader
*/
.laoder-cont{
	text-align: center;
	 margin: 10vh; 
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
